.greeting {
  font-family: Roboto;
  font-size: 50px;
  color: blue;
}

.greeting1 {
  font-family: roboto;
  font-size: 70px;
  color: #685849;
}
.greeting2 {
  font-family: Gill Sans;
  font-size: 80px;
  color: red;
}
